<div class="col">
  <div class="card" style="border-color: #118098">
    <div class="card-body" >
      <h5 class="card-title"><%= essay.title %></h5>
      <p class="card-text"><%= t('.time_limit') %>: <%= essay.time_limit %></p>
      <p class="card-text"><%= t('.min_length') %>: <%= essay.min_length %></p>
      <%= button_to t('.start'),
                    start_user_task_essay_path(essay.task, essay),
                    class: 'btn text-white',
                    style: "background-color: #6610f2;" %>
    </div>
  </div>
</div>
