<article class="card mt-3 form-control-lg" style="border-color: #118098">
  <div class="card-body">
    <section>
      <p class="my-2">
        <%= task.title %>
      </p>
      <p class="my-2" id="start-time" data-start-time="<%= task.start_time %>">
        <%= t('.start_time') %>: <%= task.formatted_time(task.start_time) %>
      </p>
      <p class="my-2">
        <%= t('.end_time') %>: <%= task.formatted_time(task.end_time) %>
      </p>
    </section>

    <%= link_to t('.show'),
                user_task_path(task),
                class: 'btn text-white',
                id: 'show-link',
                style: "background-color: #6610f2;" %>
  </div>
</article>
