<div class="container">
  <h1>Информация о студенте <%= @student.name %></h1>

  <div class="accordion" id="accordionTasks">
    <% @student.user_uniq_tasks.each do |task| %>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingTask<%= task.id %>">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTask<%= task.id %>" aria-expanded="true" aria-controls="collapseTask<%= task.id %>">
            <%= task.title %>
          </button>
        </h2>
        <div id="collapseTask<%= task.id %>" class="accordion-collapse collapse" aria-labelledby="headingTask<%= task.id %>" data-bs-parent="#accordionTasks">
          <div class="accordion-body">
            <% @student.user_passed_tests_by_task(task).each do |passed_test| %>
              <div class="border p-3 mb-3">
                <h5>
                  <%= passed_test.test.title %>
                </h5>
                <% passed_test.test.questions.each do |question| %>
                  <li class="list-group-item">
                    <%= question.body %>
                    <ul>
                      <% question.answers.each do |answer| %>
                        <%= views_answer(answer, passed_test, question) %>
                      <% end %>
                      <hr>
                    </ul>
                  </li>
                <% end %>
              </div>
            <% end %>
            <% @student.user_passed_essays_by_task(task).each do |passed_essay| %>
              <div class="border p-3 mb-3">
                <h5>
                  <%= passed_essay.essay.title %>
                </h5>
                <ul>
                  <%= passed_essay.answer %>
                </ul>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
