<p id="time-left"
   data-time-left="<%= @user_passed_test.time_left %>"
   class="mt-3">
</p>

<div class="mb-4">
  <p oncopy="return false;">
    <strong oncopy="return false;"><%= @user_passed_test.current_question.body %></strong>
  </p>
  <p>
    <%= t(".count") %>: <strong><%= @user_passed_test.test.questions.size %></strong>
  </p>
  <p>
    <%= t(".number") %>: <strong><%= @user_passed_test.question_number(@user_passed_test) %></strong>
  </p>
  <img src="<%= @user_passed_test.current_question.image_url %>" class="rounded" />
</div>

<%= form_with url: user_passed_test_path(@user_passed_test), local: false, method: :put, data: {turbo: false} do |form| %>
  <%= form.collection_check_boxes :answer_ids, @user_passed_test.current_question.answers, :id, :body, include_hidden: false do |b| %>
    <div class="form-check">
      <%= b.check_box id: "answer_ids_#{b.object.id}", class: "form-check-input checkbox-js" %>
      <%= b.label class: "form-check-label", oncopy: "return false;" %>
    </div>
    <hr>
  <% end %>
  <p><%= form.submit t('.submit'), class: 'btn btn-success' %></p>
<% end %>
