<article class="card mt-3 form-control-lg" style="border-color: #118098">
  <div class="card-body">
    <section>
      <p class="my-2">
        <%= t('.title') %>: <%= task.title %>
      </p>
      <p class="my-2">
        <%= t('.group') %>: <%= task.group %>
      </p>
      <p class="my-2">
        <%= t('.start_time') %>: <%= task.formatted_time(task.start_time) %>
      </p>
      <p class="my-2">
        <%= t('.end_time') %>: <%= task.formatted_time(task.end_time) %>
      </p>
    </section>

    <%= link_to t('.show'), admin_task_path(task),
                class: 'btn text-white',
                style: "background-color: #6610f2;" %>
    <%= link_to t('.edit'), edit_admin_task_path(task),
                class: 'btn text-white',
                style: "background-color: #6610f2;" %>
    <%= link_to t('.delete'), admin_task_path(task),
                class: 'btn text-white',
                style: "background-color: #6610f2;",
                data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>

    <% if task.public %>
      <%= link_to t('.make_private'), make_private_admin_task_path(task), class: 'btn btn-warning', data: { turbo_method: :patch, turbo_confirm: "Are you sure?" } %>
    <% else %>
      <%= link_to t('.make_public'), make_public_admin_task_path(task), class: 'btn btn-primary', data: { turbo_method: :patch, turbo_confirm: "Are you sure?" } %>
    <% end %>
  </div>
</article>
