<article class="card mt-3">
  <div class="card-body">
    <section>
      <p class="my-2">
        Title: <%= task.title %>
      </p>
      <p class="my-2">
        Start time: <%= task.start_time %>
      </p>
      <p class="my-2">
        End time: <%= task.end_time %>
      </p>
    </section>

    <%= link_to 'Show', admin_task_path(task), class: 'btn btn-primary' %>
    <%= link_to 'Update', edit_admin_task_path(task), class: 'btn btn-warning' %>
    <%= link_to "Delete", admin_task_path(task), class: 'btn btn-danger', data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
    <% if task.public %>
      <%= link_to "Make Private", make_private_admin_task_path(task), class: 'btn btn-warning', data: { turbo_method: :patch, turbo_confirm: "Are you sure?" } %>
    <% else%>
      <%= link_to "Make Public", make_public_admin_task_path(task), class: 'btn btn-primary', data: { turbo_method: :patch, turbo_confirm: "Are you sure?" } %>
    <% end %>
  </div>
</article>
