<div class="dropdown">
  <% if user_signed_in? %>
    <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
      Меню
    </button>
    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
      <li><%= link_to 'Таски', admin_tasks_path, class: 'dropdown-item' %></li>
      <li><%= link_to 'Студенты', admin_students_path, class: 'dropdown-item' %></li>
      <li><%= link_to 'Страница студента', '/', class: 'dropdown-item' %></li>
      <li><%= link_to 'Выйти', destroy_user_session_path, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: 'nav-link text-dark' %></li>
<!--      <li><%#= link_to 'Архив', user_task_archive_path, class: 'dropdown-item' %></li>-->
    </ul>
  <% else %>
    <ul class="navbar-nav">
      <li class="nav-item">
        <%= link_to "Войти", user_session_path, class: 'nav-link text-dark' %>
      </li>
      <li class="nav-item">
        <span class="nav-link text-white">|</span>
      </li>
      <li class="nav-item">
        <%= link_to "Зарегистрироваться", new_user_registration_path, class: 'nav-link text-dark' %>
      </li>
    </ul>
  <% end %>
</div>
