<p id="time-left"
   data-time-left="<%= @user_passed_essay.time_left %>"
   class="mt-3">
</p>

<div class="mb-4">
  <p>
    <strong oncopy="return false;"><%= @user_passed_essay.essay.description %></strong>
  </p>
  <p>
    <%= t('.min_length') %>: <strong><%= @user_passed_essay.essay.min_length %></strong>
  </p>
  <img src="<%= @user_passed_essay&.essay&.image_url %>" style="width: 50%; height: auto; image-rendering: auto;">
</div>

<%= form_with url: user_passed_essay_path(@user_passed_essay), local: false, method: :put, data: { turbo: false } do |form| %>

  <div class="mb-3" >
    <%= form.text_area :answer, rows: 8, id: 'essay_answer', class: 'form-control', oncopy: 'return false;', style:"border-color:#118098" %>
  </div>

  <%= form.submit t('.submit'), class: 'btn btn-success' %>

<% end %>
