<article class="card mt-3">
  <div class="card-body">
    <section>
      <p class="my-2">
        Title: <%= test.title %>
      </p>
      <p class="my-2">
        Number of questions: <%= test.questions.count %>
      </p>
      <p>
        <img src="<%= test.image_url %>">
      </p>
    </section>

    <%= link_to 'Show', admin_test_path(test), class: 'btn btn-primary' %>
    <%= link_to 'Update', edit_admin_test_path(test), class: 'btn btn-warning' %>
    <%= link_to "Delete", admin_test_path(test), class: 'btn btn-danger', data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
  </div>
</article>
