<article class="card mt-3" style="border-color: #118098">
  <div class="card-body">
    <section>
      <p class="my-2">
        <%= t('.title') %>: <%= test.title %>
      </p>
      <p class="my-2">
        <%= t('.number') %>: <%= test.questions.count %>
      </p>
    </section>
    <div class="btn-wrapper">
    <%= link_to t('.show'), admin_test_path(test),
                class: 'btn text-white',
                style: "background-color: #6610f2;" %>
    <%= link_to t('.edit'), edit_admin_test_path(test),
                class: 'btn text-white',
                style: "background-color: #6610f2;" %>
    <%= link_to t('.delete'), admin_test_path(test),
                class: 'btn text-white',
                style: "background-color: #6610f2;",
                data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
    </div>
  </div>
</article>
